services:
  airline-frontend:
    environment:
      DB_NAME: CHANGE-THIS
      DB_USER: AND-THIS
      DB_PASSWORD: AND-ESPECIALLY-THIS
    ports:
      - "9000:9000"

  airline-backend:
    environment:
      DB_NAME: CHANGE-THIS
      DB_USER: AND-THIS
      DB_PASSWORD: AND-ESPECIALLY-THIS

  airline-db:
    environment:
      MYSQL_DATABASE: CHANGE-THIS
      MYSQL_USER: AND-THIS
      MYSQL_PASSWORD: AND-ESPECIALLY-THIS
    ports:
      - "33063:3306"
